@import url('https://fonts.googleapis.com/css?family=Cinzel');

/*Header and whole doc*/

h1 {
font-family: 'Cinzel', serif;
  font-size: 60px;
  text-align: center;
  color: #000080;
}

body {
    background-image: url("../img/mapBackground.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    font-family: 'Cinzel', serif;
}

img {
  max-width: 100%;
}

/*Left main*/


.namesAndPlay{
  float: left;
  /*display: block;*/
  /*text-align: center;*/
  width: 30%;
  /*margin-top: 50px;*/
  margin-left: 20px;
}

#nameInput, #nameEnterButton {
  color: #000080;
  font-family: 'Cinzel', serif;
  font-size:20pt;
  border-color:#000080;
  border-radius: 4px;
  background-color: white;
  border-style:solid;
  position: relative;
  float: right;
  margin-left: 20px;

}



#nameInput{
  height:50px;
  width: 100%;
  margin-bottom: 3px;
}

.inputText{
    text-align: center;
}

#reset, #whoFirst{
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
}



/*centre main*/

.squares {
  align: center;
  background-image: url('../img/grid-min.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
}

.squares img{
  position: inherit;
  width:80%;
  padding: 12px;
  padding-right: 3px;
}

.box {
  width: 98px;
  height: 98px;
  float: left;
  position: relative;
  /*outline: 1px solid;*/
}


/*right main*/

.scoreBox {
  display: none;
  background-color: white;
  opacity: .7;
  width:30%;
  height:600px;
  float: right;
  text-align: center;
}

.vs {
  margin-top: 50%;
  font-size: 20pt;
  color: #000080;
  text-align: center;

}

.score0,.score1,.score0b,.score1b {
  text-align: right;
  color: #000080;
  margin-right: 5px
}
/*
.score1{
  text-align: right;
  color: #000080;
  margin-right: 5px

}*/



/*steamer*/




#b{
  position:absolute;
  margin-top:10px;
  margin-left: -105%;
  background-image: url("../img/boat1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 400px;
  height: 100%
}

#b p{
  color: white;
  margin-top: 130px;
  margin-left: -160px;
}


#c{
  position:absolute;
  margin-top:270px;
  margin-left: -105%;
  background-image: url("../img/boat2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 400px;
  height: 100%
}

#c p{
  color: white;
  margin-top: 245px;
  margin-left: -160px;
}
